/* Noto sans font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap');
/* Recipekorea font */
@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior:smooth;
}
/*.row {*/
/*    width: 90%;*/
/*    margin: 0 auto;*/
/*}*/
body.none_scroll {
    overflow: hidden;
}
.blind {
    text-indent: -9999px;
}

/* TOGGLE MENU */
.gnb_toggle_btn {
    width: 5rem;
    height: 5rem;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 3%;
    background-color: #808000;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;
}

.gnb_toggle_btn span {
    display: block;
}
.gnb_toggle_btn .tg_t {
    width: 100%;
    height: .4rem;
    background: #fff;
    transition: .5s ease;
}
.gnb_toggle_btn .tg_m {
    width: 100%;
    height: .4rem;
    background: #fff;
    transition: .5s ease;
    margin: .85rem 0;
}
.gnb_toggle_btn .tg_b {
    width: 100%;
    height: .4rem;
    background: #fff;
    transition: .5s ease;
}

.gnb_toggle_btn:hover .tg_t,
.gnb_toggle_btn:hover .tg_m,
.gnb_toggle_btn:hover .tg_b {
    background-color: #fff;
}

.gnb_toggle_btn .tg_t.selected {
    transform: translateY(12.5px) rotate(45deg);
}
.gnb_toggle_btn .tg_m.selected {
    opacity: 0;
}
.gnb_toggle_btn .tg_b.selected {
    transform: translateY(-12.5px) rotate(-45deg);
}
/* M_MENU */
.m_menu {
    width: 100%;
    height: 0;
    background-color: #F7F6DC;
    opacity: .9;
    position: fixed;
    /* padding: 50px; */
    box-sizing: border-box;
    z-index: 9;
    /* display: none; */
    overflow: hidden;
    transition: height 0.3s ease;
}
.open {
    height: 100vh;
}
.m_menu_list {
    margin: 50px auto 0;
    line-height: 3;
    text-align: center;
    font-weight: bold;
}
.m_menu_list li {
    font-size: 40px;
}
.m_menu_list li a {
    display: block;
    width: 100%;
    height: 100%;
}
.m_menu_list li:active a {
    color: #808000;
}

/* HEADER */
.intro_wrap {
    position: relative;
    background-color: #F7F6DC;
}
header {
    padding: 8rem 2rem 0;
}
header h1 {
    font-size: 3.4rem;
}
header span {
    font-size: 1.4rem;
    background: olive;
    color: #fff;
    border-radius: 1rem;
    display: inline-block;
    padding: .5rem 1rem;
}

/* NAV */
.menu {
    /* width: 100%; */
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.5);
    /* position: absolute; */
    /* top: 250px; */
    /* margin-left: -5%; */
    /*margin-top: 20rem;*/
    margin-top: 25%;
}
.menu_list {
    width: 50%;
    padding: 0 2rem;
    display: flex;
}
.menu_list li {
    width: 25%;
    line-height: 5rem;
    font-weight: bold;
    color: #808000;
    text-align: center;
    cursor: pointer;
}
.menu_list li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
}
.menu_list li a:hover, 
.menu_list li a:active {
    color: #343434;
}

/* PHOTO */
.photo_wrap {
    max-width: 38%;
    position: absolute;
    top: 15rem;
    right: 2rem;
    z-index: 1;
}
.photo {
    width: 100%;
}
.photo_wrap .text {
    transform: rotate(-90deg);
    font-weight: bolder;
    font-size: 32px;
    position: absolute;
    /*right: -10%;*/
    right: calc(10% - 6rem);
    bottom: 6px;
}
.photo_wrap .text span {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

/* ABOUT */
.about_wrap {
    padding: 0 2rem;
}
.about_wrap .intro_info {
    padding: 2rem 0;
    margin-top: 15rem;
    line-height: 1.6;
    font-size: 1.4rem;
    border-bottom: 1px dashed #343434;
}
.intro_desc_list {
    width: 100%;
    padding-top: 6rem;
    align-items: center;
}
.intro_text {
    text-align: center;
    margin-bottom: 20px;
    word-break: keep-all;
    font-size: 1.6rem;
    line-height: 1.4;
}
.intro_text1,
.intro_text3 {
    line-height: 1.4;
}
.intro_icon {
    width: 34px;
    height: 34px;
    margin-bottom: 5px;
}

.scroll_circle {
    width: 50px;
    height: 50px;
    margin: 60px auto;
    border-radius: 50%;
    border: 1px solid #808000;
    position: relative;
    display: block;
}
.scroll_circle span {
    position: absolute;
    width: 2px;
    height: 30px;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #808000;
    animation: scrollCircle 1.5s infinite ease-out;
}
.scroll_circle span::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 15px;
    background-color: #808000;
    top: 17px;
    left: -5px;
    transform: rotate(-45deg);
}
.scroll_circle span::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 15px;
    background-color: #808000;
    top: 17px;
    left: 5px;
    transform: rotate(45deg);
}
@keyframes scrollCircle {
    from {
        top: -9px;
    }
    to {
        top: 35px;
    }
}

/* SKILLS */
.skills_wrap {
    padding: 10rem 2rem 0;
}
.skills_wrap h2 {
    text-align: center;
    font-size: 3.8rem;
}
.card_wrap {
    display: flex;
    /*justify-content: space-between;*/
    justify-content: center;
    flex-wrap: wrap;
}
.card_box {
    width: calc(100% / 5);
    min-width: 13rem;
    position: relative;
    margin: 0 2rem;
    perspective: 1100px;
}
.card {
    width: 100%;
    border: 2px solid #808000;
    border-radius: 15px;
    position: relative;
    transition: .4s;
    transform-style: preserve-3d;
    margin-top: 15px;
}
.front, .back {
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card .front img {
    width: 40%;
    margin: 40px auto 40px;
    display: block;
}
.nuxt, .html {
    margin-top: 60px;
}
.css, .figma {
    margin-top: 30px;
}
.git {
    margin-top: 80px;
}
.back {
    width: 100%;
    height: 100%;
    background-color: #808000;
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;
    color: #fff;
}
.back h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.back p {
    text-align: center;
    word-break: keep-all;
    line-height: 1.4;
    font-size: 14px;
}
.card_box:hover .card {
    transform: rotateY(180deg);
}

/* career */
 .career_wrap {
    padding: 10rem 2rem 0;
    margin: 0 auto;
}
.career_wrap h2 {
    text-align: center;
    font-size: 38px;
    margin-bottom: 3.5rem;
}
.work_box {
    flex-wrap: wrap;
    background: #F7F6DC;
    border-radius: 1rem;
    padding: 2.5rem 2rem;
}
.work_box .title {
    min-width: 18rem;
    text-align: center;
}
.work_box h3 {
    font-size: 2rem;
    text-decoration: underline;
    color: olive;
    margin-bottom: 1.5rem;
 }
.work_box p {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: #9d9d9d;
}
.work_box span {
    font-size: 1.4rem;
    font-weight: 500;
}
.work_box ul {
    margin-top: 3rem;
}
.work_box ul li {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.4;
    word-break: keep-all;
    margin-bottom: 1rem;
}
.work_box .img_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.work_box .img_wrap img {
    width: 30%;
}
.work_box .gif {
    max-width: 30%;
    margin: 0 auto;
    display: block;
}

/* PROJECT */
.project_wrap {
    padding: 10rem 2rem 0;
}
.project_wrap h2 {
    text-align: center;
    font-size: 38px;
    margin-bottom: 3.5rem;
}
.project_wrap .member {
    font-size: 1.4rem;
    margin-top: 1rem;
    line-height: 1.4;
}

/* CONTACT */
.flow_text_wrap {
    font-size: 60px;
    position: relative;
    width: 100%;
    height: auto;
    padding: 100px 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
.flow_text_wrap .flow_text_box {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: flow 30s linear infinite;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    -webkit-text-stroke: 2px #808000;
    color: transparent;
}
@keyframes flow {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.contact_me {
    margin-top: 80px;
    text-align: center;
    color: #343434;
}
.contact_me span {
    display: block;
    margin: 10px 0;
    font-size: 1.6rem;
}
.contact_me span:last-child {
    margin: 0;
}
.contact_me p {
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 1.6rem;
}
.footer_bottom {
    background-color: #F7F6DC;
    padding: 20px 0;
    box-sizing: border-box;
    margin-top: 100px;
}
.github {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.github img {
    width: 34px;
}
.footer_bottom .copy {
    font-size: 1.2rem;
    display: block;
    padding: 20px 0 0;
    color: #545454;
}